/* Color Scheme
IRIS  #4D5AE5; Primary Brand (CTAs Focused Active states Links)
OCEAN : #404BBF; Pressed state (CTAs)
NAVI BLUE : #2E2F42; Dark (Overlays Shadows Headings)
GREEN : #31D0AA; Success (Valid fields Success messages)
SLATE : #434455; Body text
LIGHT SLATE : #8E8F99; Subtle Text (Helper text Deemphasized text)
CORNFLOWER : #E7E9FC; Accent (Accent color Hairlines Subtle backgrounds)
CLOUD : #F4F4FD; light (Light mode backgrounds Light mode Dialogs/alerts)
NAVY BLUE : #2E2F42; Modal overlay
GREY : #2E2F42; Hero background (Hero image background)
*/

:root {
    --main-text: #434455;
    --main-bg: #fff;
    --subtle-text: #8E8F99;
    --heading: #2E2F42;
    --light-bg: #F4F4FD;
    --accent: #E7E9FC;
    --brand: #4D5AE5;
    --pressed: #404BBF;
    --hero-bg: rgba(46, 47, 66, 0.7);
    --overlay: rgba(46, 47, 66, 0.4);
    --success: #31D0AA;
    --shadow: rgba(0, 0, 0, 0.15)
}

body {
    font-family: 'Roboto', 'Open sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--main-text);
    background: var(--main-bg);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.button {
    cursor: pointer;
}

/* Hidden header pattern */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ----------------HEADER------------------ */

/* Site Logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand);
}

.header .logo-studio {
    color: var(--heading);
}

/* Site Navigation */
.nav .link {
    font-weight: 500;
    color: var(--heading);
}

.nav .link:hover,
.nav .link:focus,
.nav .link.current {
    color: var(--pressed);
}

.address .link {
    font-style: normal;
    color: currentColor;
    /* color: var(--main-text); */

}

.address .link:hover,
.address .link:focus,
.address .link.current {
    color: var(--pressed)
}

/* ----------------MAIN------------------ */
.hero {
    background: var(--heading);
}

/* Hero Title */
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--main-bg);
}

/* Hero Button */
.hero .button {
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--main-bg);
    background: var(--brand);
    box-shadow: 0px 4px 4px var(--shadow);
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background: var(--pressed);
}

/* Section */
.section {
    background-color: var(--main-bg);
}

.section.team {
    background-color: var(--light-bg);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--heading);
}

/* Header 3 */
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--heading);
}

.member {
    background-color: var(--main-bg);
}

/* List of Filters Buttons */
.filter .button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.04em;
    background: var(--light-bg);
    border: 1px solid var(--accent);
    border-radius: 4px;
    color: var(--brand);
}

.filter .button:hover,
.filter .button:focus,
.filter .button.current {
    background: var(--pressed);
    color: var(--main-bg);
}

/* ----------------FOOTER------------------ */
.footer {
    background-color: var(--heading);
}

.footer .logo-studio {
    color: var(--light-bg);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent);
}