/* Colors */
:root {
    /* IRIS */
    --primary-brand: #4D5AE5;
    /* OCEAN */
    --pressed: #404BBF;
    /* NAVI BLUE */
    --dark: #2E2F42;
    /* GREEN */
    --success: #31D0AA;
    /* SLATE */
    --text: #434455;
    /* LIGHT SLATE */
    --subtle-text: #8E8F99;
    /* CORNFLOWER */
    --accent: #E7E9FC;
    /* CLOUD */
    --light: #F4F4FD;
    /* NAVY BLUE modal */
    --modal-overlay: #2E2F42;
    /* GREY */
    --hero-background: #2E2F42;
    /* WHITE */
    --slogan-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--subtle-text);
    /*background-color: #ffffff;*/
}

a {
    text-decoration: none;
}

/* Hidden header pattern */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ----------------HEADER------------------ */
.header {}

/* Site Logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}

.header .logo-studio {
    color: var(--dark);
}

/* Site Navigation */
.nav {}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: var(--pressed);
}

.address {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link {
    color: var(--subtle-text);
}

.address-link:hover,
.address-link:focus,
.address-link.current {
    color: var(--pressed)
}

/* ----------------MAIN------------------ */
.hero {
    background: var(--hero-background);
    color: var(--slogan-color)
}

/* Header 1 */
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

/* Hero Button */
.hero-button {
    font-family: inherit;
    background: var(--primary-brand);
}

.hero-button:hover,
.hero-button:focus {
    background: var(--pressed);
}

/* Header 2 */
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}

/* Header 3 */
h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}

li {
    list-style-type: none;
}

/* ----------------FOOTER------------------ */
.footer {
    background-color: var(--dark);
}

.footer .logo-studio {
    color: var(--light);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent);
}